
$card_shadow: 0 0 29px 0 $light_shadow_color;

.location-details {
  /** Display layout and size. */
  @include size(90vw, 100px);
  @include layout-flex(column, center);

  /** Design. */
  max-width: 600px;
  background: white;
  margin-bottom: 20px;
  box-shadow: $card_shadow;
  border-radius: 24px;

  /** Animation over swipe. */
  position: relative;
  left: 0;
  transition: left 0.18s ease-out 0.18s;

  &.--inactive {
    transition: 
      left 0.18s ease-out 0s,
      height 0s ease-out 0.18s,
      margin 0s ease-out 0.18s;
    left: 100vw;
    height: 0;
    margin-bottom: 0;
  }

  .text--content {
    width: 92%;
    margin-top: 3%;
  }

  .button.--main {
    margin: {
      right: 4%;
      top: 4%;
    }
    align-self: flex-end;
  }

  .commerce-logo {
    @include size(97px, 27px);
    position: absolute;
    top: 15%;
    left: 4%;
  }
}