/*------------------------------------*\
  #MAIN-COLORS
\*------------------------------------*/

$primary_color:         #fff;
$primary_dark_color:    #343434;
$secondary_color:       #a6ce4e;
$secondary_light_color: #d8d8d8;


/*------------------------------------*\
  #TEXTS-COLORS
\*------------------------------------*/

/** Zeplin alias: "Textos_terciarios".*/
$text_third_order:  #838383;
/** Zeplin alias: "Textos-númericos-secundarios".*/
$text_second_order: #828282;
/** Zeplin alias: There isn't.*/
$text_note:        #27282b;


/*------------------------------------*\
  #SHADOWS-COLORS
\*------------------------------------*/

$light_shadow_color: #26012024;